{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static '../static/css/friends.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="{%  static '../static/js/invite.js'%}"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <h1>User Requests Box</h1>
    </header>
    <div class="custom-shape-divider-top-1714673684 wave">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"></path>
        </svg>
    </div>
    <h2> {{ friends.count }} requests </h2>
    <i class="fa-solid fa-envelope"></i>
    <div class="container">
        {% if friends %}
        {% for friend in friends %}
        <form action="{% url 'friends_box' user.id %}" method="post">
        {% csrf_token %}
            <div class="friends">
                <img src="{{ friend.background_image.url }}" class="bg" alt="" srcset="">
                <div class="pic-profile">
                    <img src="{{ friend.profile_picture.url }}" alt="" srcset="">
                </div>
                <div class="content">
                    <h4>{{ friend.firstname }} {{ friend.lastname }}</h4>
                    <div class="info">
                        <h5>{{ friend.friends.count }} friends</h5>
                    </div>
                    <div class="btn">
                        <input type="hidden" name="sender" value="{{ friend.id }}">
                        <input type="hidden" name="add" class="add" value="no">
                        <i class="fa-solid fa-check"></i>
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
        </form>
        {% endfor %}
    {% else %}
    <h1>No freinds</h1>
    {% endif %}
    </div>
</body>

</html>