{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/css/post.css' %}">
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js">
    </script>
    <title>Facebook Post Box Clone</title>
</head>

<body>
    <main class="post">
        <div class="wrapper">
            <section class="create-post">
                <header class="header">
                    <h1>Create post</h1>
                    <div class="cross-icon">
                        <div class="cross-icon-mark"></div>
                    </div>
                </header>
                <div class="post-header">
                    <div class="profile-pic"><img  class="profile-pic" src="{{ user.profile_picture.url }}"></div>
                    <div class="user-info">
                        <div class="full-name">{{ user.firstname }} {{ user.lastname }}</div>
                    </div>
                </div>
                <div class="post-content">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea name="post-desc" id="post-desc" cols="30" rows="5"
                            placeholder="What's on you mind {{ user.firstname }}?"></textarea>
                        <div class="add-to-your-post">
                            <span class="add-to-post-text">Add to your post</span>
                            <div class="add-to-post-icons">
                                <label for="post-image">
                                    <div class="photo-video"></div>
                                </label>
                                <input id="post-image" style="display: none;" name="post_image" type="file" accept=".png,.jpg,.jpeg">
                            </div>
                        </div>
                        <button class="post-btn" disabled>Post</button>
                    </form>
                </div>
            </section>
        </div>
    </main>
    <script src="{% static '../static/js/post_image.js' %}"></script>
</body>

</html>